/*///////////////////////////////////////////////////----MAIN CUSTOM CSS-*/
.btn.btn-primary {
  background: #777777;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}

/*//////////////////////////////////////////////////////////////----NAV-*/
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #ffa500;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #ffa500;
}

#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 600;
  padding-left: 0;
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 22px;
  font-weight: 300;
}

/*//////////////////////////////////////////////////////////////----HERO-*/
#fh5co-home > div.container {
  width: inherit;

}
#fh5co-home .text-inner h1 {
  /* font-family: 'Cutive Mono', monospace; */
  font-family: 'Inconsolata', monospace;
  font-size: 90px;
  font-weight: 100 !important;
  color: #fefefe;
  margin: 0 0 20px 0;
}

#fh5co-home {
  background-color: #ffa500 !important;
  /* background-blend-mode: color-burn; */
  background-blend-mode: soft-light;
  /* opacity: .7; */
  z-index: 0;
  /*
  background: -moz-linear-gradient(top, #ffa500 0%, #fff5ef 100%);
  background: -webkit-linear-gradient(top, #ffa500 0%,#fff5ef 100%);
  background: linear-gradient(to bottom, #ffa500 0%,#fff5ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa500', endColorstr='#fff5ef',GradientType=0 );
  */
}

#fh5co-home .gradient {
  background-color: #ffa500;
  background-image: display none;
  background-blend-mode: multiply;
  opacity: 1;


  z-index: 4;
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.03) 51%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 99%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(255, 255, 255, 0)), color-stop(48%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0.03)), color-stop(86%, rgba(255, 255, 255, 1)), color-stop(87%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.03) 51%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 99%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.03) 51%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 99%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.03) 51%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 99%);
  /* ie10+ */
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 1) 14%, rgba(255, 255, 255, 0.03) 51%, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 99%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  /* ie6-9 */

}

/*//////////////////////////////////////////////////////////////----NTRO-*/
#fh5co-intro {
  margin-top: 30px;
}
#fh5co-intro > div{
  width: inherit;
}



#fh5co-intro .fh5co-block > .overlay {
  background: #fff;
  opacity: .6;
}
#fh5co-intro .fh5co-block > .fh5co-text .fh5co-intro-icon {
  font-size: 50px;
  color: #555;
  margin-bottom: 30px;
  display: block;
}
/*///////////////////////////////////////////////////////////----SERVICES-*/

/*///////////////////////////////////////////////////////////----COUNTERS-*/


/*/////////////////////////////////////////////////////////////----FOOTER-*/
#footer {
  background-color: #ffa500;
  color: #fff;
}
#footer .gotop {
  background-color: #ffa500;
}

.social.social-circle a {
background: #555555;
}
#footer > a > i {
  color: #555555;
}