/*//////////////////////////////////////////////////////////////----GLOBAL-*/
div.form-group:nth-child(5){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn.btn-round {
  display: flex;
  text-decoration: row;
  flex-wrap: wrap;
  background: #555555;
  color: #fFA500;
  /* border: none !important; */
  /* border: 2px solid transparent !important; */
  border-radius: 60% 40% 70% 30% / 38% 65% 35% 62%;
  box-shadow: 2px 2px 0px 10px orange;
  width: 150px;
  height: 80px;
}
.header-spacer {
  height: 80px;
}
.section-heading {
  padding-bottom: 0px;
}
.section-heading h2 {
  margin: 0px;
  padding: 0px;
}
.section-heading h2::after {
  background: #ffa500;
}

.single {
  width: 100vw;
  min-height: 739px;
}

.slant-l {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}
/*//////////////////////////////////////////////////////////////----MAIN CONTENTS-*/
Html,
body {
  margin: 0;
  padding: 0;
}
#fh5co-home {
  background-color: #faad1d;
  background-blend-mode: color-burn;
  background-size: cover;
  background-attachment: fixed;
  background-position: center !important;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  opacity: .9;
}


/*//////////////////////////////////////////////////////////////////////////////----HERO-*/
h
.hero-bkg-animated {
  /* background: rgb(214, 116, 5) url("bg.jpg") repeat 0 0 !important; */
  background-size: cover;
  width: 100%;
  margin: 0;
  height: 900px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
  background-blend-mode: color-burn;
  opacity: 1;
  background-color: #ffa500;

}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -400px 0;
  }
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -400px 0;
  }
}



#fh5co-home>div.container {
  width: 100vw;
  height: auto;
}

#fh5co-home .text-wrap {
  height: 100vh;
}

h2,
h3 {
  font-family: 'bebas_neue_regularregular';
}

/* second row in hero*/
#fh5co-home .text-inner h1 {
  font-family: 'bebas_neue_regularregular';
  font-size: 8vw;
  font-weight: bold;
  color: #fefefe;
  margin: 0 0 20px 0;
}

mark,
.mark {
  padding: 0 .05em;
  color: #ffa500;
  opacity: .6;
}

/* third row in hero*/
#fh5co-home .text-inner h2 {
  color: #fff;
  font-size: 3.6vw;
  margin-bottom: 15vh;
}


#fh5co-home .gradient {
  /* ms ( IE 10.0+ ) */
  background: -ms-linear-gradient(182deg, rgba(252, 252, 252, 0.02) 0.14%, rgba(252, 252, 252, 0.05) 35.18%, rgba(252, 252, 252, 0.97) 79.75%, rgba(255, 255, 255, 0.94) 99.61%);

  /* WebKit (Chrome 10.0+, safari 5.1+ )*/
  background: -webkit-linear-gradient(182deg, rgba(252, 252, 252, 0.02) 0.14%, rgba(252, 252, 252, 0.05) 35.18%, rgba(252, 252, 252, 0.97) 79.75%, rgba(255, 255, 255, 0.94) 99.61%);

  /* Moz ( Moz 3.6+ )*/
  background: -moz-linear-gradient(182deg, rgba(252, 252, 252, 0.02) 0.14%, rgba(252, 252, 252, 0.05) 35.18%, rgba(252, 252, 252, 0.97) 79.75%, rgba(255, 255, 255, 0.94) 99.61%);

  /* Opera ( opera 11.6+ )*/
  background: -o-linear-gradient(182deg, rgba(252, 252, 252, 0.02) 0.14%, rgba(252, 252, 252, 0.05) 35.18%, rgba(252, 252, 252, 0.97) 79.75%, rgba(255, 255, 255, 0.94) 99.61%);

  /* W3C Markup */
  background: linear-gradient(182deg, rgba(252, 252, 252, 0.02) 0.14%, rgba(252, 252, 252, 0.05) 35.18%, rgba(252, 252, 252, 0.97) 79.75%, rgba(255, 255, 255, 0.94) 99.61%);
  opacity: 1;
}

/*///////////////////////////////////////////////////////////////////////////////////----NTRO-*/
body > section:nth-child(3)
#fh5co-intro {
  margin-top: 30px;
}

#fh5co-intro .fh5co-block>.fh5co-text .fh5co-intro-icon {
  font-size: 50px;
  color: #555;
  margin-bottom: 30px;
  display: block;
}

#fh5co-intro .fh5co-block>.fh5co-text .fh5co-intro-icon>a {
  text-decoration: none;
}
/*//////////////////////////////////////////////////////////////////////////////////----PROCESS-*/
#fh5co-process::before {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color:#fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
  margin-top: -105px;
  border-bottom: 8px solid #f1a507;
}

#fh5co-process {
  padding: 80px 0px 00px 0px;
}
.process-block-container {
  max-width: 100%;
  width: 720px;
  margin: auto;
  padding: 30px;
}
.process-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border: 2px solid #efefef;
}
.process-block i {
  display: block;
  background-image: linear-gradient(100deg,#f8cca4,#f2994a);
  text-align: center;
  font-size: 50px;
  /* display: inline-block; */
  border-radius: 1em;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,.1);
  color: #fff;
  height: 85px;
  width: 85px;
  line-height: 85px;
  margin-bottom: 20px;
  transition: all .3s ease 0s;
}
.process-block__number {
  position: absolute;
  top: 0;
  left: 0;
  left: 20px;
  font-size: 4em;
  opacity: .5;
}

#fh5co-process > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
  margin-bottom: 0px;
}

/*//////////////////////////////////////////////////////////////////////////////////----SERVICES-*/
#fh5co-services {
  padding-top: 80px;
}
#fh5co-services  p {
  font-size: 1.1em;
}
/*///////////////////////////////////////////////////////////////////////////////////////----ABOUT-*/
#fh5co-about {
  padding: 0;
}
#fh5co-about>div>div:nth-child(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 40px 0px;
}

.fh5co-person {
  border: 2px solid #f1a507;
  padding: 80px 20px 20px 20px;
  width: 350px;
  height: 350px;
}

.fh5co-person figure img {
  border-radius: 60% 40% 70% 30% / 38% 65% 35% 62%;
  box-shadow: 2px 2px 0px 10px orange;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////----WORK-*/

img.mfp-img {
  width: 100%;
}

#fh5co-work>div,
#fh5co-work>div>div.row.row-bottom-padded-sm,
#fh5co-work>div>div:nth-child(1) {
  width: inherit;
}
/*
#fh5co-work>div>div:nth-child(1),
#fh5co-work>div>div.row.row-bottom-padded-sm {}

#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(1),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(2),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(3),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(4),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(5),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(6),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(7),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(8),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(9),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(10),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(11),
#fh5co-work>div>div.row.row-bottom-padded-sm>div:nth-child(12) {}
*/

#fh5co-work .fh5co-project-item {
  border-radius: 0px;
  width: 100%;
}

#fh5co-work .fh5co-project-item img {
  width: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////----CONTACT-*/
#fh5co-contact::before {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color:#fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
  margin-top: -105px;
}

#fh5co-contact > div > div.row.row-bottom-padded-md {
  font-size: 1.3em;
}

#fh5co-contact{
  margin:auto;
  background: #ffa100; /* Old browsers */
  background: -moz-linear-gradient(top, #ffa100 0%, #ffffff 47%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffa100 0%,#ffffff 47%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffa100 0%,#ffffff 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa100', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
div.m2 > div:nth-child(1) > div:nth-child(1){
  margin: 50px 0px 0px 0px;
}
.form-control:active,
.form-control:focus {
  border-color: orange !important;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////----FOOTER-*/
#footer {
  background-color: #ffa500;
  color: #fff;
}

#footer .gotop {
  background-color: #ffa500;
}

.social.social-circle a {
  background: #555555;
}

#footer>a>i {
  color: #555555;
}
