#fh5co-header {
  position: fixed;
  background: #fff;
  margin-top: 0;
  top: 0;
}

.occ-navbar .navbar-nav {
  flex-direction: row !important;
}

.navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*/////////////////////////////////////////////////////////////---TOGGLE---*/
.fh5co-nav-toggle {
  display: none;
}

.fh5co-nav-toggle i,
.fh5co-nav-toggle i:before,
.fh5co-nav-toggle i:after {
  background: #f49940 !important;
  color: #f49940 !important;
}

.fh5co-nav-toggle.active i {
  background: transparent !important;
}

/*/////////////////////////////////////////////////////////////////---LOGO---*/
#fh5co-header.navbar-fixed-top .navbar-brand {
  color: #f49940;
}

.occ-logo {
  background-image: url('../images/logo.png');

  background-size: cover;
  height: 40px;
  width: 160px;
  float: left;
}

#fh5co-header .navbar-brand {
  font-weight: 600;
  /* color: #f49940 !important; */
  padding-left: 10px !important;
  font-family: sphere_sansregular;
  color: #4F4F4F !important;
  font-size: 1.5em;
}

/*////////////////////////////////////////////////////////////////---RIGHT NAV---*/

#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  background-color: transparent;
}

#navbar,
a,
a:hover,
a:active,
a:focus,
a:visited,
#fh5co-header #navbar li a:hover,
#fh5co-header #navbar li a:active,
#fh5co-header #navbar li a:focus,
#fh5co-header #navbar li a:visited {
  color: #f49940 !important;
}

.occ-navbar .navbar-nav li {
  margin: 0 .5em;
}

#fh5co-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/*//////////////////////////////////////////////////////////////---RESPONSIVE---*/
@media screen and (max-width: 768px) {
  #fh5co-header>div>nav {
    font-size: 17px;
  }

  #navbar>ul>li.active {
    font-size: 17px;
    font-size: 18px;
  }

  #fh5co-header .navbar-brand {
    padding-left: 5px !important;
  }

  .occ-navbar .navbar-nav li {
    font-size: 18px;
    margin: 0 .35em;
  }

  #navbar,
  a,
  a:hover,
  a:active,
  a:focus,
  a:focus-within,
  a:visited,
  #fh5co-header #navbar li a:hover,
  #fh5co-header #navbar li a:active,
  #fh5co-header #navbar li a:focus,
  #fh5co-header #navbar li a:focus-within,
  #fh5co-header #navbar li a:visited,
  #fh5co-header #navbar li a span {
    color: #f49940 !important;
    color: #f49940 !important;
  }

  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }

  #fh5co-header #navbar li a {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    transform: skewX(120deg);
  }
}
