.em2 {
    font-size: 2em;
}

.em3 {
    font-size: 3em;
}

.m0 {
    margin: 0;
}

.m1 {
    margin: 1em;
}

.m2 {
    margin: 2em;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1em;
}

.p0 {
    padding: 0;
}

.p1 {
    padding: 1em;
}

