<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="em3 ls-1 font-weight-bold">Google Ads</h2>
        <p class="em2">We can manage your business analytics and improve your marketing with Google Ads.</p>
        <a href="/services/google-ads/" class="btn btn-default">Learn More</a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="websites-animation-container">
          <div class="site">
              <img src="images/analytics.png" alt="">
          </div>
          <div class="site">
              <img src="images/google-chart.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  