<div class="container" style="min-height: 110vh;">
    <div class="row">
      <div class="col-md-6 col-sm-12">
          {{ partial "googleseo-carousel.html" .}}
      </div>
      <div class="col-md-6 col-sm-12">
        <h2 class="em3 text-right ls-1 font-weight-bold">Google Ads</h2>
        <p class="em2 text-right">We can manage your business analytics and improve your marketing with Google Ads.</p>
        <div class="text-right">
          <a href="/services/google-ads/" class="btn btn-default">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  