<div class="slider-wrap">
    <div id="card-slider-seo" class="slider">
      <div class="slider-item">
        <img src="images/analytics.jpg" alt="">
      </div>
      <div class="slider-item">
        <img src="images/marketing-snapshot.jpg" alt="">
      </div> 
      <div class="slider-item">
        <img src="images/google-chart.png" alt="">
      </div> 
    </div>
  </div>
  
  <style>
    .slider-wrap {
      height: 100%;
      width: 100%;
    }
  
    .slider-wrap .slider {
      position: absolute;
      width: 100%;
      left: 50px;
      top: 50px;
    }
  
    #card-slider-seo .slider-item {
      width: 100%;
      height: auto;
      max-height: 400px;
      overflow: hidden;
      /* padding: 20px 0 25px 30px; */
      border-radius: 10px;
      background-color: #ffffff;
      display: block;
      /* justify-content: flex-start; */
      position: absolute;
      opacity: 0;
      z-index: 0;
      box-shadow: 0 4px 9px #f1f1f4;
      position: absolute;
      left: 0;
      top: 0;
    }  

    #card-slider-seo  .slider-item img {
      width: 100%;
      /* height: auto; */
    }
  </style>
  <!-- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gsap/1.19.1/TweenMax.min.js"></script>
  <script>
    var cards = $('#card-slider-seo .slider-item').toArray();
  
    startAnim(cards);
  
    function startAnim(array) {
  
      const speed = 1;
      if (array.length >= 2) {
        TweenMax.fromTo(array[0], 0.5, {x:0, y: 0, opacity:0.75}, {x:0, y: -120, opacity:0, zIndex: 0, delay:0.03, ease: Cubic.easeInOut, onComplete: sortArray(array)});

TweenMax.fromTo(array[1], 0.5, {x:-79, y: 125, opacity:1, zIndex: 1}, {x:0, y: 0, opacity:0.25, zIndex: 0, boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)', ease: Cubic.easeInOut});

TweenMax.to(array[2], 0.5, {bezier:[{x:0, y:250}, {x:-60, y:200}, {x:-79, y:125}], boxShadow: '-5px 8px 8px 0 rgba(82,89,129,0.05)', zIndex: 1, opacity: 1, ease: Cubic.easeInOut});

TweenMax.fromTo(array[3], 0.5, {x:0, y:400, opacity: 0, zIndex: 0}, {x:0, y:250, opacity: 0.75, zIndex: 0, ease: Cubic.easeInOut}, );

      } else {
        $('#card-slider').append('<p>Sorry, carousel should contain more than 3 slides</p>')
      }
    }
  
    function sortArray(array) {
      clearTimeout(delay);
      var delay = setTimeout(function () {
        var firstElem = array.shift();
        array.push(firstElem);
        return startAnim(array);
      }, 3000)
    }
  </script>
  