<!-- START GOOGLE CODE -->
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123145633-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-123145633-1');
</script>
<!-- Global site tag (gtag.js) - Google Ads: 995039654 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-995039654"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-995039654');
</script>
<!-- Event snippet for OCC Website Visits conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-995039654/MmPDCKWBkIwBEKazvNoD',
        'event_callback': callback
    });
    return false;
  }
  </script>
<!-- END GOOGLE CODE -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title> {{ .Title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ with .Site.Params.author }}
<meta name="author" content="{{ . }}">{{ end }}
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">{{ end }}
{{ with .Site.LanguageCode }}
<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
<!-- Facebook and Twitter integration -->
{{ if not .Site.Params.OpenGraph.hide }}
<meta name="og:site_name" content="{{ .Site.Title }}">
<meta name="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="og:url" content="{{ .Permalink }}">
<meta name="og:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}">
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}images/{{ .Site.Params.sidebar.avatar }}" />
<meta name="twitter:card" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ end }}
<!-- canonical link tag -->
<link rel="canonical" href="{{ .Permalink }}" />
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">
<!-- Animate.css -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/icomoon.css">
<!-- Simple Line Icons -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/simple-line-icons.css">
<!-- Magnific Popup -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/magnific-popup.css">
<!-- Bootstrap  -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css">
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/utility.css">
<!-- Custom CSS  -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
<!-- NAV CSS  -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/nav.css">
<!-- BeerSlider CSS  -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/BeerSlider.css">
<!-- Fonts CSS  -->
<link type='text/css' rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
<!-- Modernizr JS -->
<script src="{{ .Site.BaseURL }}/js/modernizr-2.6.2.min.js"></script>
<script>
  "use strict";

  !function() {
    var t = window.driftt = window.drift = window.driftt || [];
    if (!t.init) {
      if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
      t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
      t.factory = function(e) {
        return function() {
          var n = Array.prototype.slice.call(arguments);
          return n.unshift(e), t.push(n), t;
        };
      }, t.methods.forEach(function(e) {
        t[e] = t.factory(e);
      }), t.load = function(t) {
        var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i);
      };
    }
  }();
  drift.SNIPPET_VERSION = '0.3.1';
  drift.load('ahy7uhwamxvd');
  </script>
