<section  id="fh5co-process" data-section="process" >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 section-heading text-center">
                <h2>{{ with .Site.Params.process.title }}{{ . | markdownify }}{{ end }}</h2>
                <div class="row">
                    <div class="col-md-12 subtext">
                        <h3>{{ with .Site.Params.process.description }}{{ . | markdownify }}{{ end }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="process-block-container">
            <div class="row">
                <div class="col-sm-12 col-md-6 process-block text-center">
                    <div class="process-block__number">1</div>
                    <i class="icon icon-pie-chart"></i>
                    <h4>Project Development</h4>
                    <p>Determine goals and develop strategy to meet those goals</p>
                </div>
                <div class="col-md-6 col-sm-12  process-block text-center">
                    <div class="process-block__number">2</div>
                    <i class="icon icon-hourglass"></i>
                    <h4>Deployment</h4>
                    <p>Schedule benchmarks for each goal ensuring all deadlines are met</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12  process-block text-center">
                    <div class="process-block__number">3</div>
                    <i class="icon icon-graph"></i>
                    <h4>Metrics</h4>
                    <p>Establish focused metrics for target areas from multiple sources</p>
                </div>
                <div class="col-md-6 col-sm-12 process-block text-center">
                    <div class="process-block__number">4</div>
                    <i class="icon icon-rocket"></i>
                    <h4>Results</h4>
                    <p>Analyze results, and modify strategy based on new data, Rinse & Repeat</p>
                </div>
            </div>
        </div>
    </div>
</section>
