<section id="fh5co-services" data-section="services">
	<div class="container">
		<!-- /////////////////////////////////////////////////////////-- HEADINGS -->
		<div class="row text-center">
			<div class="col-md-12 section-heading text-center">
				<h2>{{ with .Site.Params.services.title }}{{ . | markdownify }}{{ end }}</h2>
				<div class="row">
					<div class="col-md-12 subtext">
						<h3>{{ with .Site.Params.services.description }}{{ . | markdownify }}{{ end }}</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- /////////////////////////////////////////////////////////-- SERVICES ITEMS -->
		<div class="row">
			{{ range .Site.Params.services.item }}
			<div class="col-md-3 col-sm-3 text-sm-center fh5co-service to-animate">
				<a style="text-decoration: none" href="{{ .url }}" class="icon to-animate-2 {{ .icon | markdownify }}"></a>
				<!-- <i class="icon to-animate-2 {{ .icon | markdownify }}"></i> -->
				<h3>{{ .title | markdownify }}</h3>
				<p>{{ .description | markdownify }}</p>
			</div>
			<div class="clearfix visible-sm-block"></div>
			{{ end }}
		</div>
	</div>
</section>
