<div class="row-websites">
  <div class="row__inner">
      <h3 class="">Mobile View</h3>
      <div class="tile" href="https://castofcrowns.com" data-scrolling="true">
        <div class="tile__media">
          <iframe width="100%" scrolling="nox" src="https://castofcrowns.com"></iframe>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Tattoo Shop
          </div>
        </div>
      </div>

      <div class="tile" href="https://amweb.xyz/" data-scrolling="true">
        <div class="tile__media">
          <iframe width="100%" scrolling="nox" src="https://amweb.xyz/"></iframe>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            AMWeb
          </div>
        </div>
      </div>

      <div class="tile" href="https://occ-template-product.netlify.com/" data-scrolling="true">
        <div class="tile__media">
          <iframe width="100%" scrolling="nox" src="https://occ-template-product.netlify.com/"></iframe>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Product Site
          </div>
        </div>
      </div>

      <div class="tile" href="https://occ-barber.netlify.com" data-scrolling="true">
        <div class="tile__media">
          <iframe width="100%" scrolling="nox" src="https://occ-barber.netlify.com"></iframe>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Barber Shop
          </div>
        </div>
      </div>

      <div class="tile" href="https://daily-grind.netlify.com/" data-scrolling="true">
        <div class="tile__media">
          <iframe width="100%" scrolling="nox" src="https://daily-grind.netlify.com/"></iframe>
        </div>
        <div class="tile__details">
          <div class="tile__title">
            Coffee Shop
          </div>
        </div>
      </div>

    <div class="tile" href="https://occ-template-agency.netlify.com/" data-scrolling="true">
      <div class="tile__media">
        <iframe width="100%" scrolling="nox" src="https://occ-template-agency.netlify.com/"></iframe>
      </div>
      <div class="tile__details">
        <div class="tile__title">
          Dentistry
        </div>
      </div>
    </div>

    <div class="tile" href="https://occ-template-portfolio.netlify.com/" data-scrolling="true">
      <div class="tile__media">
        <iframe width="100%" scrolling="nox" src="https://occ-template-portfolio.netlify.com/"></iframe>
      </div>
      <div class="tile__details">
        <div class="tile__title">
          Coffee Shop
        </div>
      </div>
    </div>

    <div class="tile" href="https://occ-template-construction.netlify.com/" data-scrolling="true">
      <div class="tile__media">
        <iframe width="100%" scrolling="nox" src="https://occ-template-construction.netlify.com/"></iframe>
      </div>
      <div class="tile__details">
        <div class="tile__title">
          Construction
        </div>
      </div>
    </div>



    <div class="tile" href="https://occ-template-insurance.netlify.com" data-scrolling="true">
      <div class="tile__media">
        <iframe width="100%" scrolling="nox" src="https://occ-template-insurance.netlify.com"></iframe>
      </div>
      <div class="tile__details">
        <div class="tile__title">
          Insurance Broker
        </div>
      </div>
    </div>






  </div>
</div>

{{/*  </div>  */}}

<script src="https://cdn.jsdelivr.net/gh/englishextra/iframe-lightbox@0.2.8/js/iframe-lightbox.min.js"></script>
<link type='text/css' rel="stylesheet" href="https://cdn.jsdelivr.net/gh/englishextra/iframe-lightbox@0.2.8/css/iframe-lightbox.min.css">
<script>
[].forEach.call(document.getElementsByClassName("tile"), function (el) {
  console.log(el)
  el.lightbox = new IframeLightbox(el);

});
</script>