<section id="fh5co-websites" data-section="websites"></section>
<div class="container">


  <div class="row">

    <div class="col-lg-6 col-md-12">
      <h2 class="em2 ls-1 font-weight-bold">Websites</h2>
      <p class="em2">We create beautiful websites that capture the essence of your brand.</p>
    </div>
    <!-- <div class="col-lg-6 col-md-12">
      <a href="/services/websites/" class="btn btn-default">Learn More</a>
    </div> -->
  </div>
  <div class="row">
    <div class="col-12">

      {{ partial "website-gallery.html" .}}

    </div>
  </div>
</div>
